Repository uchidayoko/ms-giga-usage-report, changes with the owners that CODEOWNERS names for each.
All owners: @HiroshiYoshino, @RitsukiSatoUchida, @tetsuya-yamamoto-uchida, @takanori-ishikawa01, @MasayaTachizawa, @misato-nakashima

CODEOWNERS:

# CODEOWNERSファイル
# このファイルは、リポジトリ内のコードに対する責任者（Code Owners）を定義します。

# リポジトリ全体の責任者
* @HiroshiYoshino @RitsukiSatoUchida

# .github
/.github/ @RitsukiSatoUchida

# src/000_setup
/src/000_setup/ @RitsukiSatoUchida @tetsuya-yamamoto-uchida

# src/010_テナントの利用状況可視化サンプル
/src/010_テナントの利用状況可視化サンプル/ @takanori-ishikawa01 @MasayaTachizawa @misato-nakashima

# src/020_学校ごとの利用状況可視化ンプル
/src/020_学校ごとの利用状況可視化ンプル/ @takanori-ishikawa01 @MasayaTachizawa @misato-nakashima

# Markdownファイル（.md）
**/*.md @HiroshiYoshino @RitsukiSatoUchida @MasayaTachizawa @misato-nakashima @tetsuya-yamamoto-uchida

Rename release-drafter.yml to .github/release-drafter.yml
  .github/release-drafter.yml
Owners: @RitsukiSatoUchida

Add files via upload
  .github/CODE_OF_CONDUCT.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/other.md
  .github/ISSUE_TEMPLATE/question.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/CI.yml
  .github/workflows/daily_workflow.yml
  .github/workflows/manual_workflow.yml
  .github/workflows/release-drafter.yml
Owners: @HiroshiYoshino, @RitsukiSatoUchida, @MasayaTachizawa, @misato-nakashima, @tetsuya-yamamoto-uchida

Update README.md
  README.md
Owners: @HiroshiYoshino, @RitsukiSatoUchida, @MasayaTachizawa, @misato-nakashima, @tetsuya-yamamoto-uchida

Update CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @HiroshiYoshino, @RitsukiSatoUchida, @MasayaTachizawa, @misato-nakashima, @tetsuya-yamamoto-uchida

Add files via upload
  src/010_テナントの利用状況可視化サンプル/01_テナント全体の端末利用状況レポート.pbit
Owners: @takanori-ishikawa01, @MasayaTachizawa, @misato-nakashima

Add files via upload
  src/020_学校毎の利用状況可視化サンプル/README.md
Owners: @HiroshiYoshino, @RitsukiSatoUchida, @MasayaTachizawa, @misato-nakashima, @tetsuya-yamamoto-uchida

Add files via upload
  src/000_setup/05_Create-SharePointSite/Create-SharepointSite.ps1
Owners: @RitsukiSatoUchida, @tetsuya-yamamoto-uchida

Add files via upload
  src/020_学校毎の利用状況可視化サンプル/02_学校毎の端末利用状況レポート.pbit
Owners: @HiroshiYoshino, @RitsukiSatoUchida

Add files via upload
  .github/workflows/daily_workflow.yml
  .github/workflows/manual_workflow.yml
Owners: @RitsukiSatoUchida

Add files via upload
  src/000_setup/05_Create-SharePointSite/Create-SharepointSite.ps1
  src/000_setup/05_Create-SharePointSite/Retry-NewMgSitePermission.ps1
Owners: @RitsukiSatoUchida, @tetsuya-yamamoto-uchida

Add files via upload
  src/010_テナントの利用状況可視化サンプル/01_テナント全体の端末利用状況レポート.pbit
Owners: @takanori-ishikawa01, @MasayaTachizawa, @misato-nakashima

Update CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @HiroshiYoshino, @RitsukiSatoUchida, @MasayaTachizawa, @misato-nakashima, @tetsuya-yamamoto-uchida

Add files via upload
  src/020_学校毎の利用状況可視化サンプル/02_学校毎の端末利用状況レポート.pbit
Owners: @HiroshiYoshino, @RitsukiSatoUchida
